#!/usr/bin/make -f

export DPKG_GENSYMBOLS_CHECK_LEVEL=4
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --with gir --buildsystem=meson

# Although meson is the preferred build system, autotools files are still present,
# leading dh_autoreconf to execute anyway, which is useless.
override_dh_autoreconf:

override_dh_auto_configure:
	dh_auto_configure -- \
		-Dpolkit=permissive \
		-Dsystemdsystemunitdir=/lib/systemd/system \
		-Dvapi=true

override_dh_install:
	rmdir $(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/ModemManager/fcc-unlock.d
	dh_install
